*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: poppins;
  
}
.header{
    background-color: #242145;
    font-family: poppins;
    color: whitesmoke;
    height: 8%;
}
.logo{
    height: 60%;
    max-width: 150px;
    margin-left: 40px;
    margin-right: 60%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}
.Right_nav{
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    margin-left: auto;
}
.home{
    color: #ffff;
    margin-right: 20px;
}
.login{
    margin-left: auto;
    margin-right: 40px;
}
.signup{
    width: 150px;
    height: 50px;
    background-color: #784df5;
    border-color: #784df5;
    border-radius: 0.5rem;
    color: #ffff;
    padding: 7.5px 12px;
    cursor: pointer;
    font-size: 15px;
}

.Banner{
    background: linear-gradient(#1b1834,#381571,#794dfd);
    font-family: poppins;
    padding: 3% 3%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.Banner_box{
    width: 100%;
    background-image:url("/images/Banner_Box_BG.png");
    background-color: rgba(19, 15, 47, .5);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right bottom;
    border: 1px solid rgba(19, 15, 47, .5);
    border-radius: 25px;
    padding: 3rem 2rem;
}
.BannerText{
    display: inline-block;
    width: 50%;
}
 .Banner_text1{
    color: #ffff;
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
}
.Banner_text2{
    color: #ffff;
    font-size: 32px;
    line-height: 50px;
}
.Banner_Button{
    width: 150px;
    height: 50px;
    background-color: #784df5;
    border-color: #784df5;
    border-radius: 0.5rem;
    color: #ffff;
}
.Banner_img{
    width: 35%;
    height: 35%;
    margin-left: 9%;
} 